
.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 90%;
}

.toggle-password {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-password:hover {
    color: #136d56d8;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content-login {
    background-color: #2c3e50;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.logo h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    background: linear-gradient(to right, #3498db, #2ecc71);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.content-login form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content-login label {
    color: #2ae0b3ce;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: -0.5rem;
    padding: 0;
}

.content-login input {
    padding: 0.8rem 1rem;

    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
    width: 90%;
}

.content-login i2nput:focus {
    outline: none;
    border-color: #2ae0b3ce;
    box-shadow: 0 0 0 3px #136d56d8;
}

.content-login input[type="password"] {
    letter-spacing: 0.1em;
}

.send {
    padding: 0.6rem;
    background: linear-gradient(to right, #3498db, #2ecc71);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 0.5rem;
    box-shadow: 0 4px 6px rgba(50, 152, 219, 0.2);
}
.send:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(50, 152, 219, 0.3);
}
p{
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    text-align: center;
    color: rgb(90, 3, 3);
}

img{
    width: 100px;
}

.logo{
    text-align: center;
}